@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
.lastContainer {
    display: flex;
    flex-direction: column;
}
.lastContainer p{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    margin: auto;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
.lastContainer .title{
    color: #6E9F58;
    display: block;
}
.after-footer{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.after-footer .imgAndText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.after-footer .imgAndText img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    filter: drop-shadow(2px 4px 6px black);
}
.after-footer .imgAndText p{
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
@media only screen and (max-width: 991px){
    .lastContainer p {
        font-family: 'Dancing Script', cursive;
        font-weight: 700;
        font-size: 2rem;
        padding-top: 10px;
    }
    .after-footer{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
    
    .after-footer .imgAndText {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px 0;
    }
    .after-footer .imgAndText img{
        width: 200px;
        height: 200px;
    }
    .after-footer .imgAndText p{
        margin-top: 15px;
        font-size: 2.1rem;
    }
}
