* {
    box-sizing: border-box
}
body {
    font-family: Verdana, sans-serif;
    margin:0;
    position: inherit;
}
.mySlides {
    display: none;
    position: relative;
}
.fade img{
    vertical-align: middle;
    height: 56vh;
    object-fit:contain ;
    border-radius: 5px;
    filter: brightness(0.4);
    opacity: 0.8;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin-top: 90px;
}

.text {
    color: #ffffff;
    border-radius: 9px;
    font-size: 2.4rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 26%;
    right: 30%;
    width: 26%;
    text-align: left;
  }
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media all and (max-width:991px){
    .fade img {
        vertical-align: middle;
        height: 293px;
        object-fit: contain;
        border-radius: 20px;
        filter: brightness(0.4);
        padding:0 13px;
    }
    .text { 
        font-size: 1.1rem;
        padding: 0px 12px;
        width: 45%;
        right: 9%;
    }
    .prev, .next {
        font-size: 9px;
        border-radius: 5px;
    }
    .p1 {
        margin: 0px 0px 26px 22px;
    }
}
